{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    <h2>User Profile</h2>
    {% if user_profile %}
    <div class="user-profile">
        <p><strong>Username:</strong> {{ user_profile.user.username }}</p>
        <p><strong>Full Name:</strong> {{ user_profile.full_name }}</p>
        <p><strong>Birthday:</strong> {{ user_profile.birthday }}</p>
        <p><strong>Gender:</strong> {{ user_profile.get_gender_display }}</p>
        <p><strong>Phone Number:</strong> {{ user_profile.phone_number }}</p>
        <p><strong>Email ID:</strong> {{ user_profile.email_id }}</p>
        <p><strong>Address:</strong> {{ user_profile.address }}</p>
        <a href="{% url 'edit_profile' %}" class='edit-profile-link'>Edit Profile</a>
    </div>
    <h2>Order History</h2>
    <ul class="order-history">
        {% for order in orders %}
        <li class="order-item">
            <p><strong>Order Date:</strong> {{ order.created_at }}</p>
            <p><strong>Total Amount:</strong> Rs.{{ order.total_amount }}</p>
            <ul class="order-details">
                {% for item in order.items.all %}
                <li>{{ item.menu_item.name }} - {{ item.quantity }}</li>
                {% empty %}
                <li>No items found.</li>
                {% endfor %}
            </ul>
            
        </li>
        {% empty %}
        <li>No orders found.</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No profile found for this user.</p>
    {% endif %}
</div>
{% endblock %}
