@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel+Decorative:wght@400;700;900&family=Dosis:wght@200..800&family=Ga+Maamli&family=Kalam:wght@300;400;700&family=LXGW+WenKai+Mono+TC&family=Lobster&family=Luckiest+Guy&family=Pacifico&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+AU+VIC:wght@100..400&family=Poiret+One&family=Sacramento&display=swap');
body {
    margin: 0;
    padding: 0;
    background: url('/static/images/background-restro.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

h1,
h4 {
    padding: 5px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 5.5em;
    font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
    color: #954535;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5),
        1px 1px 1px #000000,
        2px 2px 2px #000000;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 20px 350px;
}

h4 {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: #311508;
    border-radius: 10px;
    margin: auto 8em;
    border: 2px solid #b1605a;
    background-color: #9c4d375e;

}

nav {
    background-color: rgba(245, 245, 245, 0.9);
    border: 2px solid #b1605a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0.1em;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #125e29;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.og:hover {
    background-color: #11430e;
    color: #fff;
}

nav a:hover i {
    color: #fff;
}

nav a:hover{
    color:#fff;
}

nav i {
    font-size: 1.5em;
    margin-bottom: 3px;
}

.out:hover {
    background-color: #810606;
    color: #fff;
}

.content {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.auth-heading {
    font-size: 3em;
    font-family: "Lobster", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #5b180c;
    background-color: #00000052;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1.5em;
    margin-bottom: 10px;
    padding: 10px 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.auth {
    background: linear-gradient(to top, #bba058, #b77025);
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    width: 40%;
}

label {
    font-size: 1.5em;
    font-family: "Poiret One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.auth input[type="text"],
.auth input[type="password"],
.auth input[type="email"] {
    text-align: center;
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-btn {
    background-color: #954535;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.auth-btn:hover {
    background-color: #000000;
}

ul.errorlist{
    color: rgb(192, 0, 0);
    font-weight: bold;
    font-size: larger;
}

.menu{
    background: linear-gradient(to left, rgb(147, 79, 12), #a0632d, #ffb65d, #a0632d, rgb(147, 79, 12) );
    padding: 1em;
    border-radius: 1em;
}

.menu-h {
    font-size: 5em;
    font-family: "Lobster", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #94190d;
    text-shadow: 
        3px 3px 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #7d1313, #d36613);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    padding: 10px 40px;
    text-align: center;
}

.search-form {
    margin-bottom: 20px;
    text-align: center;
}

.search-form input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #954535;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #311508;
}

.view-cart-button {
    font-size: 1.2em;
    display: inline-block;
    font-weight: 900;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ffea00;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 20px;
}

.view-cart-button:hover {
    background-color: #ff2a00;
    color: #fff;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu-item-card {
    background-color: rgb(240, 240, 240);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.menu-item-card:hover {
    transform: translateY(-5px);
}


.menu-item-card h3 {
    margin-top: 0;
}

.flip-card {
    width: 200px;
    height: 160px;
    perspective: 1000px;
    margin: 0 auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner:hover {
    transform: scale(1.05);
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.flip-card-back {
    background-color: #000000;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.menu-item-image {
    width: 100%;
    height: auto;
}

.flip-card-back p {
    font-family: "Dosis", sans-serif;
    font-size: 0.92rem;
    margin: 0.2rem;
}

.menu-item-card button {
    background-color: #249b40;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-item-card button:hover {
    background-color: #0c8a12;
}

.notification {
    position: fixed;
    top: 7rem;
    right: 4rem;
    background-color: #ffea00;
    color: rgb(135, 7, 7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transform: translateY(-20px); 
    animation: slideIn 0.5s forwards, slideOut 0.5s 4.5s forwards; 
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}


.desc {
    font-family: "Kalam", cursive;
    font-style: normal;
}

p.desc {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 1.2rem;
}

h3.desc {
    margin-bottom: 0.5rem;
    padding-top: 2px;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #461b29;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 5px;
}


.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}


h2 {
    font-size: 3em;
    font-family: "Lobster", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #5b180c;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1.5em;
    margin-bottom: 10px;
    padding: 10px 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    }

.user-profile {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-profile p {
    font-size: 16px;
    margin: 10px 0;
    color: #000;
    text-align: left;
}

.user-profile.content{
    text-align: left;
}
.user-profile label{
    color:#461b29;
}

.edit-profile-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.edit-profile-link:hover {
    background-color: #0056b3;
}



.order-history {
    list-style: none;
    padding: 10px 0;
    background-color: #b06f6f67;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-item {
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-item p {
    margin: 10px 0;
    font-size: 16px;
    color: #000;
}

.order-details {
    list-style: none;
    padding: 0;
    padding-left: 20px;
}

.order-details li {
    font-size: 14px;
    color:#000;
}


@media (max-width: 768px) {
    h1 {
        padding: 20px 50px;
        font-size: 3em;
    }
    h4 {
        margin: auto 2em;
        font-size: 1.5em;
    }

    nav li {
        margin: 0 10px;
    }
    form input[type="text"], form input[type="password"], form input[type="email"] {
        width: 80%;
    }

    nav ul li {
        display: block;
        text-align: left;
    }

    nav ul li a {
        display: block;
        padding: 10px;
    }

    .content {
        padding: 10px;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-image {
        margin-bottom: 10px;
    }

    .item-name,
    .item-quantity,
    .update-form,
    .remove-item {
        display: block;
        margin-bottom: 10px;
    }

    .update-form input[type="number"] {
        width: 100%;
    }

    .menu-items {
        flex-direction: column;
        align-items: center;
    }
}